server:
  port: 3001
  servlet:
    context-path: /user

spring:
  application:
    name: user-service
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  sql:
    init:
      platform: postgres
  datasource:
    url: jdbc:postgresql://localhost:5432/expense_intelligence
    username: 'dev1'
    password: 'dev1'
    driverClassName: org.postgresql.Driver
