name: CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Build with Maven
        run: mvn clean verify
      
      - name: Log In to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build Docker Image
        run: |
          IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/user-service-api
          TAG=${{ github.sha }}
          docker build -t $IMAGE:$TAG -t $IMAGE:latest .
      
      - name: Push Docker Image
        run: |
          IMAGE=${{ secrets.DOCKERHUB_USERNAME }}/user-service-api
          TAG=${{ github.sha }}
          docker push $IMAGE:$TAG
          docker push $IMAGE:latest
